/*
91.461 Assignment: Creating Your First Web Page
Author: Yong Cho
Email: Yong_Cho@student.uml.edu
Created: 9/5/2015
File Description: Defines common style elements applied throughout the site.
*/

* {
  margin: 0px;  padding: 0px;  border: 0px;
}

body {
  background-image: url(../img/image11.png);
  font-family: 'Source Sans Pro', Verdana, Arial, sans-serif;
  font-size: 14px;
  color: #211e1a;
}

header {
  padding: 10px;
  height: auto;
  margin-bottom: 5px;
}

footer {  
  padding: 10px;
  text-align: right;
  clear: both;
}

ul {
  list-style: none;
  padding-left: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

#contents_wrapper {
  background-color: FloralWhite;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 16px grey;
}

#title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #8b3d3d;
}

#author {
  font-size: 13px;
}

.horzRule {
  background-color: #5cb85c;
  height: 2px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

main {
  min-height: 500px;
  padding: 10px;
}

nav {
  margin-bottom: 20px;
}

/* Top-level menu */
nav ul {
  display: inline-block;
  background-color: FloralWhite;
  border-radius: 6px;
}

nav ul li {
  position: relative;
  float: left;  
}

nav ul li:hover {
  color: #5cb85c;
}

nav ul li a {  
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;  
  display: block;
}

/* Second-level menu - initially hidden */
nav ul ul {
  position: absolute;  /* This is necessary to prevent content being pushed down when menu is unfolded. */
  display: none;
  padding-bottom: 10px;
  left: 0px;
}

nav ul ul li {
  float: none;
  color: #211e1a;
}

nav ul ul li a {
  font-size: 14px;
  width: 100px;
}

nav ul li:hover > ul {
  display: block;  /* Shows the submenu when hovered. */
}

#article {
  padding: 10px;
}

#article_title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}